html {
  background:#6C7989;
  background: #6C7989 linear_gradient(#6C7989, #434B55) fixed;
}

body {
  padding:50px 0;
  margin:0;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
}

.wrapper {
  width:640px;
  margin:0 auto;
  background:#DEDEDE;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

header, section, footer,figure {
  display:block;
  padding:0;
  margin: 0;
}

a {
  color:#069;
  text-decoration:none;
}

p {
  margin:0 0 20px;
  padding:0;
}

strong {
  color:#222;
  font-weight:700;
}

header {
  border-radius: 8px 8px 0 0;
  background:#C6EAFA;
  background: linear_gradient(#DDFBFC, #C6EAFA);
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #B2D2E1;

  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#069;
    text-shadow:rgba(#fff, 0.9) 0 1px 0;
  }

  &.without-description h1 {
    margin:10px 0;
  }

  p {
    margin:0;
    color:#61778B;
    width:300px;
    font-size:13px;

    &.view {
      display:none;
      font-weight:700;
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      -webkit-font-smoothing:antialiased;

      a {
        color:#06c;
      }

      small {
        font-weight:400;
      }
    }
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:20px;
    padding:1px 0;
    // background:#5198DF;
    // background: linear_gradient(#77B9FB, #3782CD);
    // border-radius:5px;
    // box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;

    // &:before {
    //   content:'';
    //   position:absolute;
    //   z-index:-1;
    //   left:-5px;
    //   top:-4px;
    //   right:-5px;
    //   bottom:-6px;
    //   background:rgba(#000, 0.1);
    //   border-radius: 8px;
    //   box-shadow: rgba(#000, 0.2) 0 -1px 0, inset rgba(#fff, 0.7) 0 -1px 0;
    // }

    li {
      float: left;
      padding: 0 10px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:rgba(#069, 0.8);
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      display:block;
      text-align:center;
      font-weight:400;
      height:20px;

      strong {
        font-size:14px;
        display:block;
        color:#fff;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}
section {
  padding:15px 20px;
  font-size:15px;
  border-top:1px solid #fff;
  background: linear_gradient(#fafafa, #DEDEDE 700px);
  border-radius: 0 0 8px 8px;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  padding:0;
  margin:0 0 20px;
  line-height:1.2;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  padding: 0;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

img {
  max-width:100%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px;

  code {
    color:#4fbf40;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #aaa;
}

dt {
  color:#222;
  font-weight:700;
}

th {
  color:#222;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#aaa;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:640px;
  margin:0 auto;
  padding:20px 0 0;
  color:#ccc;
  overflow:hidden;

  a {
    color:#fff;
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}
.archive {
  .post-archive {
    border-top: 1px solid #a5a5a5;
    .post-item {
      list-style: none;
      padding: 14px 0;
      border-bottom: 1px dashed #a5a5a5;
      h3 {
        margin-bottom: 0;
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
        color: #666;
      }
      .post-date {
        font-size: 14px;
        color: #999;
      }
    }
  }
}

.tag-cloud {
  a {
    display: inline-block;
    background: #ccc;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
}
.post {
  .post-meta {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 10px 20px;
    // border-radius: 4px;
    margin: 0 -20px 20px;
    .post-desc {
      margin-bottom: 0px;
    }
    .post-time {
      margin:0;
      text-align: right;
    }
  }
  .post-tag-list {
  li {
    display: inline-block;
    list-style: none;
    background: #ccc;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
    a {
      color: #666;
    }
  }
}
}


@media print, screen and (max-width: 740px) {
  body {
    padding:0;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media print, screen and (max-width:580px) {
  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    content:'at https://github.com/';
  }
}
/* BG */
#bg {
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  height: 100%;
  left: 0;
  opacity: 0.375;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; 
}
  #bg div {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 150%; }
    #bg div.visible {
      -moz-animation: bg 45s linear infinite;
      -webkit-animation: bg 45s linear infinite;
      -ms-animation: bg 45s linear infinite;
      animation: bg 45s linear infinite;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      #bg div.visible.top {
        z-index: 2; }
      @media screen and (max-width: 1280px) {
        #bg div.visible {
          -moz-animation: bg 29.25s linear infinite;
          -webkit-animation: bg 29.25s linear infinite;
          -ms-animation: bg 29.25s linear infinite;
          animation: bg 29.25s linear infinite; } }
      @media screen and (max-width: 736px) {
        #bg div.visible {
          -moz-animation: bg 18s linear infinite;
          -webkit-animation: bg 18s linear infinite;
          -ms-animation: bg 18s linear infinite;
          animation: bg 18s linear infinite; } }
    #bg div:only-child {
      -moz-animation-direction: alternate !important;
      -webkit-animation-direction: alternate !important;
      -ms-animation-direction: alternate !important;
      animation-direction: alternate !important; }
  body.is-preload #bg {
    opacity: 0; }

@-moz-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@-webkit-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@-ms-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }
